
<div class="container">
    <div class="row">
        <div class="display-5">
            <p>Welcome!</p>
        </div>
        <div class="display-5">
            <p>To the dashboard to see the solar panels performance!</p>
        </div>
    </div>
    <div class="row">
        <figure class="figure">
            <img src="/assets/images/SolarPanel-WelcomePage.png" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end">Solar pangel performance</figcaption>
        </figure>
    </div>
    <div class="row">
        <div class="display-5">
            <p>On this application you can...</p>
        </div>
    </div>
    <div class="row">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">
                <a routerLink="/data">Getting data for the solar panel performance...</a>
            </li>
            <li class="list-group-item">Under maintenance...</li>
        </ol>
    </div>
    
</div>
  