<div class="container text-center">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate placeholder="Start date" (dateInput)="getDateFrom($event)">
          <input matEndDate placeholder="End date" (dateInput)="getDateTo($event)">
        </mat-date-range-input>
        <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col display-6">From:</div>
    <div class="col display-6">{{dateFrom}}</div>
  </div>
  <div class="row">
    <div class="col display-6">To:</div>
    <div class="col display-6">{{dateTo}}</div>   
  </div>
  <!-- TODO: Implement in the future. -->
  <!-- <div class="row">
    <div class="col display-6">Number of days:</div>
    <div class="col display-6">{{numberOfDays}}</div>   
  </div> -->
</div>